{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
       <a href="/"><i class="fa fa-arrow-left" style="font-size:48px;color:white"></i></a> <h1>Em-Tech Hub Blog</h1>
    </header>
    


    <div class="container">
       
        <div class="post-content">
            <img src='{{ post.image.url }}' alt="">
            <div class="text">
                    <h2> {{ post.title }}</h2>
                <!-- <div class="post_like_dislike">
                    <p> Likes - {{ post.likes }}</p>
                    <p> Dislikes - {{ post.dislikes }}</p>
                </div> -->
                <p class="description">{{ post.description }}</p>
                <p class="date">{{ post.date_pub }}</p>
            </div>
            
        </div>
    </div>

    <footer>
        <p>2021 &copy; DevEmmy</p>
    </footer>
</body>
</html>
    